<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/menu.js"></script>
	<script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/userpage.css">
	<link rel="stylesheet" type="text/css" href="/css/ownerpage.css">
	<link rel="stylesheet" type="text/css" href="/css/signin.css">
	<link rel="stylesheet" type="text/css" href="/css/menuing.css">
	<link rel="stylesheet" type="text/css" href="/css/menu.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/newownermodal.css">
	<link rel="stylesheet" type="text/css" href="/css/newusermodal.css">
	<link rel="stylesheet" type="text/css" href="/css/flaticon.css">
	<link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Questrial' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
	<div class="menuing">
		<div class="topmenu"><a href="#menuing" class="menubutton"><input type='image' img src="/img/menuicon.png"></a></div>
	</div>
	<div class="signin">
		<%if current_user%>
			<%="<div id='hello'><p>Hello <a href='/profile'>#{current_user.firstname}</a>! Let's Dish!</p></div>" %>
		<%end%>
		<div class="topsignin">
			<%if current_user%>
			<%="<a href='/sign-out'><div id='signout'><input type='image' id='clickso' img src='/img/signout.png'></div></a>" %>
			<%else%>
			<%="<div id='signon'><input type='image' id='clicksi' img src='/img/signin.png'></div>" %>
			<%end%>
		</div>
	      	<div class="signinform">
	    		<form method="POST" action="/sign-in" onsubmit="showHide()">
					<input type="text" name="username" placeholder="username" required>
					<input type="password" name="password" placeholder="password" required>
					<input type="submit" value="sign in!">
				</form>
	    	</div>
	</div>
	<div class="logo"><a href="/"><input type='image' id='logo' img src="/img/logo.png"></a></div>
				<!-- start ruby -->
					<%= yield %>	
				<!-- end ruby -->
<div class="lightbox" id="newuser">
  	<div class="box">
   		<div class="newusermodal">
			<div id="nuheader">
				<p>become a new user</p>
			</div>
			<div class="nubox">
				<div class="nutxt">
					<form method="POST" id="createuserform" action="/create-user">
						<p>Create a unique username...</p>							<input id="ef" type="text" name="username" placeholder="username" required>
						<p>Create a unique password...</p>
						<input id="ef" type="password" name="password" placeholder="password" required>
						<p>Confirm your new password!</p>
						<input id="ef" type="password" name="password_confirmation" placeholder="Confirm password" required>
					</form>
				</div>
			</div>
				<div class="nucloseaddbar">
					<a href="#" class="close"><div id="nucloseicon">
					</div></a>
					<input id="nusubmit" type="submit" value="create new user!" form="createuserform">
				</div>
		</div>
	</div>
</div>
<div class="lightbox" id="newowner">
  	<div class="box">
		<div class="newownermodal">
			<div id="noheader">
				<p>become a new owner</p>
			</div>
			<div class="nobox">
				<div class="notxt">
					<form method="POST" action="/create-owner">
					<p>Create a unique username...</p>
					<input id="ef" type="text" name="username" placeholder="username" required>		
					<p>Create a unique password...</p>
					<input id="ef" type="password" name="password" placeholder="password" required>
					<p>Confirm your new password!</p>
					<input id="ef" type="password" name="password_confirmation" placeholder="Confirm password" required>
					</form>
				</div>
			</div>
			<div class="nocloseaddbar">
				<a href="#" class="close"><div id="nocloseicon"></div></a>
				<input id="subbutt" type="nosubmit" value="create new owner!">
			</div>
		</div>
	</div>
</div>
<div class="lightbox" id="newreview">
  	<div class="box">
		<div class="writereview">
			<div id="wrheader">
			</div>
			<div class="wrbox">
				<div id="wrid">
					<div id="wrphoto">
					<img style='width: 50px; height: 70px'>
					</div>
					<div id="wrname">
					</div>
				</div>
					<form method="post" action="" id="newreviewform">
						<p>So tell us what you thought and...</p>
						<textarea id="reviewfield" name="description" maxlength="140" placeholder="Dish it out!" form="newreviewform" rows="6" cols="28" required></textarea>
						<p>don't forget to rate your dish...</p>
						<input type="number" name="rating" rows="3" min="1", max="5", step="1" required>
						<!-- <input type="submit" value="send in your dish!"> -->
					</form>
			</div>
				<div class="wrselect">
					<object id="wrrate" type="image/svg+xml" data="/img/heart.svg"></object>
					<object id="wrrate" type="image/svg+xml" data="/img/cam.svg"></object>
					<object id="wrrate" type="image/svg+xml" data="/img/plateszero.svg"></object><p>0</p>
				</div>
					<div class="wrcloseaddbar">
						<a href="#" class="close"><div class="wrcloseicon"></div></a>
						<!-- <a href="#" class="add to database"><div class="wricon"></div></a> -->
						<!-- <input type="submit" value="send in your dish!"> -->
						<input class="wricon" type="submit" form="newreviewform" value="">
						<!-- <input type="submit" value="send in your dish!" form="newreviewform"> -->
					</div>
		</div>
	</div>
</div>
<div class="modalbkg"></div>
<div class="menulightbox" id="menuing">
  	<div class="menubox">
  		<div class="menuhighlight">
			<div class="menulook"></div>
		</div>
		<div class="menufield">
			<p>find near you</p>
		</div>
		<div class="menufield">
			<p>restaurants</p>
		</div>
		<div class="menufield">
			<p>dishers</p>
		</div>
		<div class="menufield">
			<p>reviewers</p>
		</div>
		<div class="menufield">
			<p>about dishdish</p>
		</div>
		<div class="menucloseaddbar">
			<a href="#" class="close"><div class="menucloseicon"></div></a>
		</div>
	</div>
</div>
</div>
<div class="footer">
	<div class="pagepeak_bott"><img src="/img/menupeak_bott.png"></div>
	<div class="pagebott_fill"></div>
	<div class="social">
		<i class="flaticon-facebook31"></i>
		<i class="flaticon-twitter21"></i>
		<i class="flaticon-whatsapp"></i>
		<i class="flaticon-google29"></i>
		<i class="flaticon-pin28"></i>
		<i class="flaticon-youtube17"></i>
		<i class="flaticon-linkedin11"></i>
	</div>
	<div class="copyright">
		<p>&copy; 2016 number2pencil,llc dba dishdish, inc.</p>
	</div>
</div>

</body>
</html>