<!-- owner home page -->
<h1>Welcome, owner <strong><%=current_user.username%></strong>!</h1>

<!-- if owner has menu, display form for adding new menu items  -->
<% if current_user.has_menu? 			         %>
<%= "<h2>Your menu for " + current_user.menu.name + " has " + current_user.menu.dishes.count.to_s + " items:</h2>"          %>

<%= "<ul>" %>
<% current_user.menu.dishes.each do |dish| %>
<%= "<li>#{dish.name} <a href='update/#{dish.id}'>Update/Remove</a></li>" %>
	<%= "<ul>" %>
		<%= "<li>$#{dish.price}  " %>
		<%= "<li><em>#{dish.description}</em>" %>
		<%= "<li><a href='#{dish.id}/reviews'>#{dish.reviews.count} reviews</a> (average: #{dish.average_rating})</li>" %>
	<%= "</ul>" %>
<% end %>
<%= "</ul>" %>

<h3>Add a new dish</h3>
<%= "<form method='POST' action='/add-dish'>" %>

<%=	"<input type='text' name='name' placeholder='Dish name' required>" %>

<%=	"<input type='text' name='price' placeholder='Price (e.g., 10.99)' required>" %>

<%=	"<textarea type='textarea' name='description' placeholder='Describe all of the amazing details of this dish!' required></textarea>" %>

<%=	"<input type='submit' name='add' value='Add dish!'>" %>

<%= "</form>" %>

<!-- if owner has no menu yet, display form for adding menu -->
<% else 																   %>

<%= "<h2>You don't have a Restaurant yet!</h2>" %>

<%= "<form method='POST' action='/add-menu'>" %>

<%= "<input type='text' name='restaurant-name' placeholder='Restaurant name' required>" %>

<%= "<input type='text' name='restaurant-address' placeholder='Address (Street, City, ZIP)' required>" %>

<%= "<input type='text' name='restaurant-phone' placeholder='phone (XXX-XXX-XXXX)' required>" %>

<%= "<textarea type='textarea' name='restaurant-description' placeholder='How would you describe your restaurant?' required></textarea>" %>

<%= "<input type='submit' value='Create restaurant!'>" %>

<%= "</form>" %>

<% end %>

<a href='/'>Log out</a>

