<div class="pagepeak_top"><img src="/img/menupeak.png"></div>
<div class="bodywhite">
	<div id="bodywhite_left">
		<div class="leftbody">
			<div class="headerlcb">
				<div id="lhead">
					<h1><%=current_other.username%>'s</h1><p>-</p><h2>profile</h2><h3>!</h3>
				</div>
				<div class="headerlcbw"></div>
				<div class="reviewsleft">
					<div id="profilephoto">
						<img src="/img/avatars/<%=current_other.id%>.png">
						<h3><%=current_other.username%></h3>
						<p id="publicmotto"><%=current_other.motto%></p>
					</div>
					<div id="publicdetails">
						<p><%=current_other.public_name%></p>
						<p><%=current_other.public_location%></p>
					</div>
					<div id="followdetails">
						<%if current_other.follows?(current_user.id)%>
						<%="<p>#{current_other.username} follows you!</p>"%>
						<%end%>
						<%if current_other.followed_by?(current_user.id)%>
						<%="<p>You follow #{current_other.username}!</p>"%>
						<%="<a href='/user/#{current_other.id}/unfollow'>Unfollow</a>"%>
						<%elsif current_other.id != current_user.id%>
						<%="<p>You don't follow #{current_other.username}.</p>"%>
						<%="<a href='/user/#{current_other.id}/follow'>Follow</a>"%>
						<%elsif current_other.id == current_user.id%>
						<%="<p>This is your public profile</p>"%>
						<%end%>
					</div> 
					<div id="dishdetails">
						<p class="publicinfo"><%=current_other.reviews.count%> dishes</p>
						<p class="publicinfo">Average score: <%=current_other.average_rating%> out of 5</p>
						<p class="publicinfo">Best dish: <%=current_other.highest_review.dish.name%> from <%=current_other.highest_review.dish.menu.name%></p>
						<p class="publicinfo">Worst dish: <%=current_other.lowest_review.dish.name%> from <%=current_other.lowest_review.dish.menu.name%></p>	
					</div>
						
					
				</div>
			</div>
		</div>
	</div>
	<div id="bodywhite_right">
		<div class="rightbody">
			<div class="headerrcb">
				<div id="rhead">
					<h1>latest</h1><p>-</p><h2>servings</h2><h3>...</h3>
				</div>
				<div class="headerrcbw"></div>
				<div class="reviewsright">
					<div id="rsubhead">
						<div id="rsubhead_left">
							<h3><%=current_other.friends.count%> following</h3>
						</div>
						<div id="rsubhead_right">
							<h4><%=current_other.followers.count%> followers</h4>
						</div>
					</div>
					<div class="followers">
					<!-- for each follower, populate a friend/follower box -->
					<%current_other.followers.each do |follower|%>
						<%="<a href='/user/#{follower.id}'>"%>
							<%="<div class='followbox'>"%>
								<%="<div id='followerid'>"%>
									<%="<div id='followerphoto'>"%>
										<%="<p><img style='width: 50px; height: 70px' src='/img/avatars/#{follower.id}.png'></p>"%>
									<%="</div>"%>
									<%="<div id='followername'>"%>
										<%="<p>#{follower.username}</p>"%>
									<%="</div>"%>
								<%="</div>"%>
							<%="</div>"%>
						<%="</a>"%>					
						<!-- end follower boxes -->
					<%end%>
					</div>
					<div class="following">
					<!-- for each friend, populate a friend/follower box -->
					<%current_other.friends.each do |friend|%>
						<%="<a href='/user/#{friend.id}'>"%>
							<%="<div class='followbox'>"%>
								<%="<div id='followerid'>"%>
									<%="<div id='followerphoto'>"%>
										<%="<p><img style='width: 50px; height: 70px' src='/img/avatars/#{friend.id}.png'></p>"%>
									<%="</div>"%>
									<%="<div id='followername'>"%>
										<%="<p>#{friend.username}</p>"%>
									<%="</div>"%>
								<%="</div>"%>
							<%="</div>"%>
						<%="</a>"%>
						<!-- end friend boxes -->
					<%end%>
					</div>
				</div>
				<div class="horizbarcont"><div id="horizbar"></div></div>
				<!-- #friendsreviewroll displays recent reviews by friends -->
				<!-- TODO: fix scrolling and overflow into footer -->
				<div id="friendsreviewroll" class="reviewsright ">
					<div id="rsubhead">
						<h3>latest</h3><h4>dishes</h4>
					</div>
					<!-- for each of the recent friend reviews, populate a review card -->
					<div class="friendsrev">
					<%current_other.recent_reviews.each do |review|%>
					<%="<div class='dishreview'>"%>
						<%="<div id='drheader'>"%>
							<%="<p><a href='/menu/#{review.menu_id}'>#{review.dish.name}</a></p>"%>
						<%="</div>"%>
						<%="<div class='dishrevbox'>"%>
							<%="<a href='/user/#{review.user_id}'>"%>
								<%="<div id='reviewerid'>"%>
									<%="<div id='dreviewerphoto'>"%>
										<%="<p><img style='width: 50px; height: 70px' src='/img/avatars/#{review.user.id}.png'></p>"%>
									<%="</div>"%>
									<%="<div id='dreviewername'>"%>
										<%="<p>#{review.user.username}</p>"%>
									<%="</div>"%>
									<%="<div id='dreviewerdishes'>"%>
										<%="<p>#{review.user.reviews.count}</p>"%>
										<!-- TODO: there should be a line break here!!!! -->
										<%="<p>&nbsp;dishes</p>"%>
									<%="</div>"%>
								<%="</div>"%>
							<%="</a>"%>
							<%="<div class='dishrevdishtxt'>"%>
								<%="<p>#{review.description}</p>"%>
							<%="</div>"%>
						<%="</div>"%>
						<%="<div class='dishrevdishrate'>"%>
							<%="<object type='image/svg+xml' data='/img/cam.svg'></object>"%>
							<%="<object type='image/svg+xml' data='/img/platesfour.svg'></object><p>#{review.rating}</p>"%>
						<%="</div>"%>
						<%="<div class='dishreviconbar'>"%>
							<%="<div id='restrevicon'>"%>
							<%="<object type='image/svg+xml' data='/img/restaurant.svg'></object>"%>
							<%="</div>"%>
							<%="<div id='restrevicon'>"%>
							<%="<object type='image/svg+xml' data='/img/map.svg'></object>"%>
							<%="</div>"%>
							<%="<div id='restrevicon'>"%>
							<%="<object type='image/svg+xml' data='/img/heart.svg'></object>"%>
							<%="</div>"%>
							<%="<div id='restrevicon'>"%>
							<%="<object type='image/svg+xml' data='/img/alcohol.svg'></object>"%>
							<%="</div>"%>
							<%="<div id='restrevicon'>"%>
							<%="<object type='image/svg+xml' data='/img/dollarsfour.svg'></object>"%>
							<%="</div>"%>
						<%="</div>"%>
						<%="<div class='dishrevrestname'>"%>
							<%="<p><a href='/menu/#{review.menu_id}'>#{review.menu.name}</a></p>"%>
						<%="</div>"%>
					<%="</div>"%>
					<!-- end review card -->
					<%end%>
					</div>
				</div>
		</div>
	</div>
</div>
</div>

