<div class="pagepeak_top"><img src="/img/menupeak.png"></div>
<div class="bodywhite">
	<div id="bodywhite_left">
		<div class="leftbody">
			<div class="headerlcb">
				<div id="lhead">
					<%test_menu = Menu.first%>
					<h1><%=test_menu.name.downcase%></h1><p>-</p><h2>menu</h2>
				</div>
				<div class="headerlcbw"></div>
				<div class="restleft">
					<div class="resticonbar">
						<div id="resticon">
							<object type="image/svg+xml" data="/img/italian.svg"></object>
						</div>
						<div id="resticon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
						</div>
						<div id="resticon">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
						</div>
						<div id="resticon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
						</div>
						<div id="resticon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
						</div>
						<div id="resticon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
						</div>
					</div>
					<div class="restdescrip">
						<p>
							<%=test_menu.description%>	
						</p>
					</div>
					<div class="accordion">
					    <h2><%=test_menu.course1.downcase%></h2>
						    <div class="pane">
						    <!-- for each dish on the menu where course = 1, populate a dishselect div -->
						    <%test_menu.dishes.where(course: 1).each do |dish|%>
						        <%="<div class='dishselect'>"%>
						        	<%="<h1>#{dish.name}</h1>"%>
						        	<%="<p>#{dish.reviews.count}&nbsp;dishes</p>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/platesfour.svg'></object><p>#{dish.average_rating}</p>"%>
						        	<%="<object id='dishview' type='image/svg+xml' data='/img/view.svg'></object>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/cam.svg'></object><p>174</p>"%>
						        	<%="<object id='dishsay' type='image/svg+xml' data='/img/add.svg'></object>"%>
						        <%="</div>"%>
					        <!-- end dishselect div -->
					        <%end%>
						    </div>
					    <h3><%=test_menu.course2.downcase%></h3>
						    <div class="pane">
					        <%test_menu.dishes.where(course: 2).each do |dish|%>
						        <%="<div class='dishselect'>"%>
						        	<%="<h1>#{dish.name}</h1>"%>
						        	<%="<p>#{dish.reviews.count}&nbsp;dishes</p>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/platesfour.svg'></object><p>#{dish.average_rating}</p>"%>
						        	<%="<object id='dishview' type='image/svg+xml' data='/img/view.svg'></object>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/cam.svg'></object><p>174</p>"%>
						        	<%="<object id='dishsay' type='image/svg+xml' data='/img/add.svg'></object>"%>
						        <%="</div>"%>
	   				        <%end%> 
						    </div>
						<h3><%=test_menu.course3.downcase%></h3>
						    <div class="pane">
						    <%test_menu.dishes.where(course: 3).each do |dish|%>
						        <%="<div class='dishselect'>"%>
						        	<%="<h1>#{dish.name}</h1>"%>
						        	<%="<p>#{dish.reviews.count}&nbsp;dishes</p>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/platesfour.svg'></object><p>#{dish.average_rating}</p>"%>
						        	<%="<object id='dishview' type='image/svg+xml' data='/img/view.svg'></object>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/cam.svg'></object><p>174</p>"%>
						        	<%="<object id='dishsay' type='image/svg+xml' data='/img/add.svg'></object>"%>
						        <%="</div>"%>
					        <%end%>
						    </div>
						<h4><%=test_menu.course4.downcase%></h4>
						    <div class="pane">
						    <%test_menu.dishes.where(course: 4).each do |dish|%> 
						        <%="<div class='dishselect'>"%>
						        	<%="<h1>#{dish.name}</h1>"%>
						        	<%="<p>#{dish.reviews.count}&nbsp;dishes</p>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/platesfour.svg'></object><p>#{dish.average_rating}</p>"%>
						        	<%="<object id='dishview' type='image/svg+xml' data='/img/view.svg'></object>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/cam.svg'></object><p>174</p>"%>
						        	<%="<object id='dishsay' type='image/svg+xml' data='/img/add.svg'></object>"%>
						        <%="</div>"%>
					        <%end%>
						    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="bodywhite_right">
		<div class="rightbody">
			<div class="headerrcb">
				<div id="rhead">
					<h1>the latest</h1><h4>vetri</h4><h2>dish</h2><h3>...</h3>
				</div>
				<div class="headerrcbw"></div>
				<div class="menuright">
					<div id="rsubhead">
						<div id="rsubhead_menu">
							<h5>all dishes</h5>
						</div>
					</div>
				</div>
				<div class="reviewsright">
					<div class="dishreview">
						<div id="drheader">
							<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="dishrevbox">
							<div id="reviewerid">
								<div id="dreviewerphoto">
									<p>photo</p>
								</div>
								<div id="dreviewername">
									<p>name</p>
								</div>
								<div id="dreviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="dishrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="dishrevdishrate">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							<object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						</div>
						<div class="dishreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/restaurant.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="dishrevrestname">
							<p>vetri</p>
						</div>
					</div>
					<div class="dishreview">
						<div id="drheader">
							<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="dishrevbox">
							<div id="reviewerid">
								<div id="dreviewerphoto">
									<p>photo</p>
								</div>
								<div id="dreviewername">
									<p>name</p>
								</div>
								<div id="dreviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="dishrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="dishrevdishrate">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							<object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						</div>
						<div class="dishreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/restaurant.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="dishrevrestname">
							<p>vetri</p>
						</div>
					</div>
					<div class="dishreview">
						<div id="drheader">
							<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="dishrevbox">
							<div id="reviewerid">
								<div id="dreviewerphoto">
									<p>photo</p>
								</div>
								<div id="dreviewername">
									<p>name</p>
								</div>
								<div id="dreviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="dishrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="dishrevdishrate">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							<object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						</div>
						<div class="dishreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/restaurant.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="dishrevrestname">
							<p>vetri</p>
						</div>
					</div>
					<div class="dishreview">
						<div id="drheader">
							<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="dishrevbox">
							<div id="reviewerid">
								<div id="dreviewerphoto">
									<p>photo</p>
								</div>
								<div id="dreviewername">
									<p>name</p>
								</div>
								<div id="dreviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="dishrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="dishrevdishrate">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							<object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						</div>
						<div class="dishreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/restaurant.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="dishrevrestname">
							<p>vetri</p>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>