<div class="pagepeak_top"><img src="/img/menupeak.png"></div>
<div class="bodywhite">
	<div id="bodywhite_left">
		<div class="leftbody">
			<div class="headerlcb">
				<div id="lhead">
					<h1><%=current_menu.name.downcase%></h1><p>-</p><h2>menu</h2>
				</div>
				<div class="headerlcbw"></div>
				<div class="restleft">
					<div class="resticonbar">
						<div id="resticon">
							<object type="image/svg+xml" data="/img/italian.svg"></object>
						</div>
						<div id="resticon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
						</div>
						<div id="resticon">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
						</div>
						<div id="resticon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
						</div>
						<div id="resticon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
						</div>
						<div id="resticon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
						</div>
					</div>
					<div class="restdescrip">
						<p>
							<%=current_menu.description%>	
						</p>
					</div>
					<div class="accordion">
					    <h2><%=current_menu.course1.downcase%></h2>
						    <div class="pane">
						    <!-- for each dish on the menu where course = 1, populate a dishselect div -->
						    <%current_menu.dishes.where(course: 1).each do |dish|%>
						        <%="<div class='dishselect'>"%>
						        	<%="<h1>#{dish.name}</h1>"%>
						        	<%="<p>#{dish.reviews.count}&nbsp;dishes</p>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/platesfour.svg'></object><p>#{dish.average_rating}</p>"%>
						        	<%="<object id='dishview' type='image/svg+xml' data='/img/view.svg'></object>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/cam.svg'></object><p>174</p>"%>
						        	<%="<object id='dishsay' type='image/svg+xml' data='/img/add.svg'></object>"%>
						        <%="</div>"%>
					        <!-- end dishselect div -->
					        <%end%>
						    </div>
					    <h3><%=current_menu.course2.downcase%></h3>
						    <div class="pane">
					        <%current_menu.dishes.where(course: 2).each do |dish|%>
						        <%="<div class='dishselect'>"%>
						        	<%="<h1>#{dish.name}</h1>"%>
						        	<%="<p>#{dish.reviews.count}&nbsp;dishes</p>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/platesfour.svg'></object><p>#{dish.average_rating}</p>"%>
						        	<%="<object id='dishview' type='image/svg+xml' data='/img/view.svg'></object>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/cam.svg'></object><p>174</p>"%>
						        	<%="<object id='dishsay' type='image/svg+xml' data='/img/add.svg'></object>"%>
						        <%="</div>"%>
	   				        <%end%> 
						    </div>
						<h3><%=current_menu.course3.downcase%></h3>
						    <div class="pane">
						    <%current_menu.dishes.where(course: 3).each do |dish|%>
						        <%="<div class='dishselect'>"%>
						        	<%="<h1>#{dish.name}</h1>"%>
						        	<%="<p>#{dish.reviews.count}&nbsp;dishes</p>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/platesfour.svg'></object><p>#{dish.average_rating}</p>"%>
						        	<%="<object id='dishview' type='image/svg+xml' data='/img/view.svg'></object>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/cam.svg'></object><p>174</p>"%>
						        	<%="<object id='dishsay' type='image/svg+xml' data='/img/add.svg'></object>"%>
						        <%="</div>"%>
					        <%end%>
						    </div>
						<h4><%=current_menu.course4.downcase%></h4>
						    <div class="pane">
						    <%current_menu.dishes.where(course: 4).each do |dish|%> 
						        <%="<div class='dishselect'>"%>
						        	<%="<h1>#{dish.name}</h1>"%>
						        	<%="<p>#{dish.reviews.count}&nbsp;dishes</p>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/platesfour.svg'></object><p>#{dish.average_rating}</p>"%>
						        	<%="<object id='dishview' type='image/svg+xml' data='/img/view.svg'></object>"%>
						        	<%="<object id='dishrate' type='image/svg+xml' data='/img/cam.svg'></object><p>174</p>"%>
						        	<%="<object id='dishsay' type='image/svg+xml' data='/img/add.svg'></object>"%>
						        <%="</div>"%>
					        <%end%>
						    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="bodywhite_right">
		<div class="rightbody">
			<div class="headerrcb">
				<div id="rhead">
					<h1>the latest</h1><h4>&nbsp;</h4><h2>dish</h2><h3>...</h3>
				</div>
				<div class="headerrcbw"></div>
				<div class="menuright">
					<div id="rsubhead">
						<div id="rsubhead_menu">
							<h5>all dishes</h5>
						</div>
					</div>
				</div>
				<div class="reviewsright">
				<!-- for each review of a dish from this menu, populate a review card -->
					<%current_menu.recent_reviews.each do |review|%>
					<%="<div class='dishreview'>"%>
						<%="<div id='drheader'>"%>
							<%="<p><a href='/menu/#{review.menu_id}'>#{review.dish.name}</a></p>"%>
						<%="</div>"%>
						<%="<div class='dishrevbox'>"%>
							<%="<a href='/user/#{review.user_id}'>"%>
								<%="<div id='reviewerid'>"%>
									<%="<div id='dreviewerphoto'>"%>
										<%="<p><img style='width: 50px; height: 70px' src='/img/avatars/#{review.user.id}.png'></p>"%>
									<%="</div>"%>
									<%="<div id='dreviewername'>"%>
										<%="<p>#{review.user.username}</p>"%>
									<%="</div>"%>
									<%="<div id='dreviewerdishes'>"%>
										<%="<p>#{review.user.reviews.count}</p>"%>
										<!-- TODO: there should be a line break here!!!! -->
										<%="<p>&nbsp;dishes</p>"%>
									<%="</div>"%>
								<%="</a>"%>
							<%="</div>"%>
							<%="<div class='dishrevdishtxt'>"%>
								<%="<p>#{review.description}</p>"%>
							<%="</div>"%>
						<%="</div>"%>
						<%="<div class='dishrevdishrate'>"%>
							<%="<object type='image/svg+xml' data='/img/cam.svg'></object>"%>
							<%="<object type='image/svg+xml' data='/img/platesfour.svg'></object><p>#{review.rating}</p>"%>
						<%="</div>"%>
						<%="<div class='dishreviconbar'>"%>
							<%="<div id='restrevicon'>"%>
							<%="<object type='image/svg+xml' data='/img/restaurant.svg'></object>"%>
							<%="</div>"%>
							<%="<div id='restrevicon'>"%>
							<%="<object type='image/svg+xml' data='/img/map.svg'></object>"%>
							<%="</div>"%>
							<%="<div id='restrevicon'>"%>
							<%="<object type='image/svg+xml' data='/img/heart.svg'></object>"%>
							<%="</div>"%>
							<%="<div id='restrevicon'>"%>
							<%="<object type='image/svg+xml' data='/img/alcohol.svg'></object>"%>
							<%="</div>"%>
							<%="<div id='restrevicon'>"%>
							<%="<object type='image/svg+xml' data='/img/dollarsfour.svg'></object>"%>
							<%="</div>"%>
						<%="</div>"%>
						<%="<div class='dishrevrestname'>"%>
							<%="<p><a href='/menu/#{review.menu_id}'>#{review.menu.name}</a></p>"%>
						<%="</div>"%>
					<%="</div>"%>
					<!-- end review card -->	
					<%end%>
				</div>
		</div>
	</div>
</div>