<h3>What's your dish on <%=current_dish.name%> from <%=current_dish.menu.name%>?</h3>

<%if current_dish.ever_reviewed_by?(current_user.id)%>
<%="<ul>" %>
<%= 	"<li>Your dish: <em>#{current_dish.reviews.where(user_id: current_user.id).first.description}</em></li>"%>
<%= 	"<li>Your rating: #{current_dish.reviews.where(user_id: current_user.id).first.rating}</li>"%>
<%="</ul>"%>
<%else%>
<%="<h3>You haven't reviewed this yet!</h3>"%>
<%="<p><strong>From the menu:</strong><p>"%>
<%="<p><em>#{current_dish.description}</em><p>"%>
<%end%>

<form method='post' action='/item/add-review/<%=current_dish.id%>'>
	<input type="text" name="rating" placeholder="Rate 1-5" required>
	<input type="submit" value="add rating">
</form>

<form method='post' action='/item/add-review/<%=current_dish.id%>'>
	<textarea type="text" name="description" placeholder="Dish it out!" required></textarea>
	<input type="submit" value="add your dish!">
</form>

<form method='post' action='/item/delete-review/<%=current_dish.id%>'>
	<input type="submit" name="delete-review" value="delete your dish">
</form>

<a href='/profile'>Back to menu</a>