<!-- user home page  -->

<h1>Welcome, user <strong><%=current_user.username%></strong>!</h1>
<h2>Personal motto: <em><%=current_user.motto%></em></h2>
<h2>Favorites:</h2>
<h2>Following:</h2>
<h2>Followers:</h2>
<h2>Your latest dishes:</h2>
<% current_user.reviews.each do |review| %>
<%= "<a href='/item/#{review.dish_id}/reviews'>#{review.dish.name}</a> from <a href='/menu/#{review.dish.menu_id}'>#{review.dish.menu.name}</a>"%>
	<%= "<ul>" %>
		<%= "<li>#{review.rating}/5 (average rating: #{review.dish.average_rating})</li>" %>
		<%= "<li>Your dish: <em>#{review.description}</em></li>" %>
		<%= "<li><a href='/item/#{review.dish_id}/review'>Edit/Remove</a></li>" %>
	<%= "</ul>" %>
<% end %>

<a href='/update/user/<%=current_user.id%>'>Change profile details</a>
<a href='/'>Log out</a>